@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;900&family=Karla:wght@400;600&family=Montserrat:wght@200;400;900&family=Open+Sans&family=Poppins:wght@200;400;600;900&family=Roboto+Condensed:wght@300;700&family=Roboto:ital,wght@0,400;0,700;1,100;1,300;1,900&display=swap');
:root{
    --colorbotones:#cccccc;
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
   
}
body{
    background-image: url(../img/1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine;
    /* height: 100vh; */
    font-family: 'Roboto Condensed', sans-serif;
   
}

header{
    height: 150px;
    /* background-color: #c7d4d2; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1{
    text-align: center;
    margin: 50px auto;
    color:white;
    font-weight: bold;;
}
main{
    margin-top: 100px;
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
.contenedor-principal{
    margin-top: -180px;
    width: 350px;
    background-color: #cccccc80;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}
.btn1{
    height: 55px;
    width: 180px;
    border-radius: 10px;
    background-color: rgb(7, 131, 233);
    color:white;
    border: none;
    font-size: 17px;
    
}
.btn2{
    height: 55px;
    width: 180px;
    border-radius: 10px;
    padding: 5px; 
    background-color: rgb(7, 131, 233);
    color:white;
    border: none;
    font-size: 17px;

    
}
.btn1:hover{
    background-color: rgb(1, 23, 122);
}
.btn2:hover{
    background-color: rgb(1, 23, 122);
}
.contenedor-img img{
    width: 29px;
    height: 29px;
    margin-top:10px;
    margin-left:10px;
}

footer{
    margin-top: 100px;
    height: 100px;
    background-color: #16161656;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
footer p{
    font-weight:600;
}

@media(min-width:900px){
    main{
        height: 307px;
        
       
    
    }
    footer{
        margin-top: 0px;
        height: 100px;
       
        
    }
}